# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
 >b()
 >b()
 >b()
 >a ?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0 

def b():
 global a 
 a = c(a)
    
def c(a): 
 return a + 2

In [2]:
b()
b()
b()
a

6

#### The global variable a is initialized to zero first.
#### In the function b() we also call c(a) which sets the value of a.
#### c(a) adds 2 to the value of a.
#### We call b() 3 times and so value of increases from zero to six, as 2 is added 3 times to a.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [3]:
def file_length(file_name): # Takes input of the file name.
    try:
        f = open(file_name,'r')
        file_cont = file.read()
        f.close()
        print(len(contents))
    except FileNotFoundError as file_error_customized:
        print('File {} not found'.format(file_name))

In [78]:
file_length('Users/sanatkhare/Desktop/Data Programming/midterm.txt')

File Users/sanatkhare/Desktop/Data Programming/midterm.txt not found

In [5]:
file_length('idterm.py')

File idterm.py not found

Used this as a reference - https://stackoverflow.com/questions/20844347/how-would-i-make-a-custom-error-message-in-python

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [19]:
class Marsupial:                            
    items=[]
    
    def pouch_contents(first):
        return first.items
    
    def put_in_pouch(first,item):
        first.items.append(item)
    
    
m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [17]:
class Kangaroo(Marsupial):    
    def __init__(first,x1,y1):
        first.x = x1
        first.y = y1
        Marsupial.__init__(first)
    
    def jump(first,x1,y1):
        first.x = first.x + x1
        first.y = first.y + y1
        
    def __str__(first):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(first.x, first.y)
    

    
k = Kangaroo(0,0)
print (k)

I am a Kangaroo located at coordinates (0, 0)

In [18]:
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [20]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(kan)

I am a Kangaroo located at coordinates (3, 0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1

>>> collatz(10)
10
5
16
8
4
2
1

In [21]:
def collatz(x): 
  
    if(x == 1): 
        print(1)
        return 
    print(int(x))
    
    if(x%2 == 0): 
        x = x/2
        
    else:
        x = 3*x+1
        
    return(collatz(int(x)))

Used this as a reference - https://stackoverflow.com/questions/33508034/making-a-collatz-program-automate-the-boring-stuff

In [22]:
collatz(1)

1

In [23]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0)
0

 binary(1)
1

 binary(3)
11

 binary(9)
1001

In [29]:
def binary(value):
    if(value < 0):
        raise ValueError       
    elif value > 1:                   
        binary(value//2)            
    print (value % 2, end = '')

In [30]:
binary(0)

0

In [31]:
binary(1)

1

In [32]:
binary(3)

11

In [33]:
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
 
 infile = open('w3c.html')
 
 content = infile.read()
 
 infile.close()
 
 hp = HeadingParser()
 
 hp.feed(content)

W3C Mission

Principles

In [40]:
from html.parser import HTMLParser            



class HeadingParser(HTMLParser):        
  
    def __init__(first):                    
        HTMLParser.__init__(first)
        first.flag = 0 
    
    def handle_data(first, data):            
        if first.flag and data!='\n':
            print('{}{}'.format(first.flag * ' ', data))
    
    def handle_starttag(first, tag, attrs):                             
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag=='h5' or tag == 'h6' or tag == 'h7':
            first.flag += 1                                     
        else:
            first.flag = 0
file = open(r'/Users/sanatkhare/Desktop/w3c.html')     
strr = str(file.read())
parser = HeadingParser()                            
parser.feed(strr)

 W3C Mission


  Principles

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [52]:
%load_ext sql

In [53]:
%sql sqlite://

In [54]:
%%sql 
CREATE TABLE record
(
    City       varchar(20),
    Country    varchar(20),
    Season   varchar(20),
    Temperature float,
    Rainfall     float
);

 * sqlite://
Done.

[]

In [55]:
%%sql
INSERT INTO record VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9);
INSERT INTO record VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);
INSERT INTO record VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);
INSERT INTO record VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);
INSERT INTO record VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);
INSERT INTO record VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);
INSERT INTO record VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);
INSERT INTO record VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5) ;

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

#### a)All the temperature data.

In [57]:
%%sql
select city,temperature from record;

 * sqlite://
Done.

[('Mumbai', 24.8),
 ('Mumbai', 28.4),
 ('Mumbai', 27.9),
 ('Mumbai', 27.6),
 ('London', 4.2),
 ('London', 8.3),
 ('London', 15.7),
 ('London', 10.4),
 ('Cairo', 13.6),
 ('Cairo', 20.7),
 ('Cairo', 27.7),
 ('Cairo', 22.2)]

#### b) All the cities, but without repetition.

In [58]:
%%sql
SELECT DISTINCT City FROM record;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

#### c) All the records for India

In [59]:
%%sql
select * from record where Country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### d) All the Fall records.

In [60]:
%%sql
select * from record where Season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [61]:
%%sql
select City, Country, Season, AVG(Rainfall) from record where Rainfall between 200 and 400 group by City;

 * sqlite://
Done.

[('London', 'United Kingdom', 'Winter', 213.1),
 ('Mumbai', 'India', 'Fall', 346.0)]

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [62]:
%%sql
select City, Country, AVG(Temperature) from record where Season='Fall' and Temperature>20 group by City order by Temperature;

 * sqlite://
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

#### g) The total annual rainfall for Cairo.

In [63]:
%%sql
select City, SUM(Rainfall) from record where City='Cairo';

 * sqlite://
Done.

[('Cairo', 27.6)]

#### h) The total rainfall for each season.

In [64]:
%%sql
select Season, SUM(Rainfall) from record group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

. Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

#### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [74]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
list01 = [x.upper() for x in words]
print(list01)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [73]:
list02 = [x.lower() for x in words]
print(list02)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [72]:
list03 = []
for x in words:
    list03.append(len(x))
print(list03)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]]

In [71]:
list05 = []
for y in range(0,len(words)):
    list04 = []
    list04.append(words[y].upper())
    list04.append(words[y].lower())
    list04.append(len(words[y]))
    list05.append(list04)
print(list05)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [75]:
list06 = []
for x in words:
    if len(x) >= 4:
        list06.append(x)
print(list06)

['quick', 'brown', 'jumps', 'over', 'lazy']